@media ( max-width: 1200px )
  .container
    max-width: 1000px

  .header
    &-wrapper
      max-width: 89%

@media ( max-width: 992px )
  .container
    max-width: 850px

  .navbar
    &-group
      display: none

  .mobile
    &-button
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      width: 22px
      height: 17.7px
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 22px
        min-height: 13%
        background-color: black

@media ( max-width: 768px )
  .container
    max-width: 728px

  .header
    &-wrapper
      padding: 25px 0
      margin-bottom: 22px

@media ( max-width: 320px )
  .container
    max-width: 290px

  .header
    &-wrapper
      max-width: 93%
      padding: 18px 0
