@media ( max-width: 768px )
  .container
    max-width: 728px

  .header
    &-container
      max-width: 649px
      margin: auto

  .banner
    &-wrapper
      min-height: 624px
      max-width: 95%
      background-image: url('../img/banner/banner.png')
      margin-bottom: 80px
    &_left
      padding-left: 3.5%
      &__hashtag
        margin-top: 40px
        margin-bottom: 31px
      &__title
        font-size: 48px
        line-height: 60px
        margin-bottom: 18px
      &__subtitle
        max-width: 400px
        font-size: 18px
        line-height: 32px
        margin-bottom: 54px
      &__list
        margin-top: 55px
      &__item
        margin-right: 17px
    &_right
      &__image
        display: none

  .collection
    &-wrapper
      margin-bottom: 79px
    &_left
      margin-bottom: 32px
    &_right
      &__subtitle
        padding-bottom: 26px

  .trends
    &-wrapper
      margin-bottom: 85px
    &_top
      margin-bottom: 56px
      &__title
        margin-bottom: 27px
      &__item
        margin-right: 45px
    &-grid
      width: 85%
      grid-column-gap: 47px
    &_card
      margin-left: 0
      margin-right: 0
      max-width: 100%
      &__title
        margin-left: 4%
      &__price
        margin-left: 4.5%
      &__look
        margin-left: 10px
        margin-right: 0
        margin-top: -6px
        min-width: 95%
      &__image
        width: 98%
        object-fit: cover
        overflow: hidden
        height: 351px
        border-radius: 8px
      &__bottom
        margin-right: 5.5%

  .look-more
    &__title
      font-size: 24px
      line-height: 32px
    &__icon
      margin-bottom: 28px

  .feedback
    padding-bottom: 11px
    &-icon
      margin-bottom: 36px
    &-slider
      max-width: 630px
      min-height: 429px
      &__line-break
        display: none
      &__item
        max-width: 630px
      &__text
        max-width: 630px
        max-height: 210px
        font-size: 20px
        line-height: 42px

  .stories
    margin-bottom: 86px
    &-left
      margin-bottom: 27px
      &__title
        margin-bottom: -4px
      &__text
        min-width: 568px
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 36px
        margin-bottom: 35px

  .swiper
    &-slide
      &__title
        font-weight: 500
        font-size: 23px
        line-height: 32px
        letter-spacing: 0.2px
      &-1
        margin-right: 18px
      &__image
        width: 330px
      &__bottom-1
        padding-left: 8px

  .subscribe
    &-wrapper
      padding: 76px 0
    &__form
      width: 447px
    &__subtitle
      margin-bottom: 59px
    &__title
      margin-bottom: 7px

  .footer
    &-wrapper
      padding: 66px 0
    &_info
      margin-left: 40px
      &__subtitle
        width: 253px
    &_navigation
      margin-right: 23px
    &_services
      margin-right: 69px
    &_company
      margin-top: -22px
      margin-right: 22px
    &_contacts
      margin-top: -22px
      margin-right: 95px
