@media ( max-width: 992px )

  .container
    max-width: 850px

  body
    padding-top: 0px

  .hero
    &__wrapper
      padding: 36px 33px
      &__badges
        margin-bottom: 24px
      &__title
        margin-bottom: 20px
        font-size: 48px
        line-height: 60px
      &__desc
        margin-bottom: 36px
        font-size: 18px
        line-height: 32px
        max-width: 420px
      &__button
        margin-bottom: 40px

  .navbar
    &-group
      display: none
      &--visible
        display: block

  .mobile
    &-button
      display: flex
      align-items: center
      justify-content: space-between
      flex-direction: column
      width: 22px
      height: 17.7px
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 22px
        min-height: 13%
        background-color: black
