.banner
  &-container
    max-width: 1440px
    margin: auto
  &-wrapper
    max-width: 89%
    margin: auto
    background-color: $bannerColor
    border-radius: 8px
    overflow: hidden
    min-height: 700px
    margin-bottom: 118px
    &--thanks
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
  &_left
    max-width: 100%
    min-height: 700px
    position: absolute
    padding-left: 7.5%
    &__hashtag
      font-style: normal
      font-weight: 600
      font-size: 14px
      line-height: 20px
      text-align: center
      color: #36B37E
      background: rgba(54, 179, 126, 0.1)
      border-radius: 2000px
      max-width: 175px
      margin: 0
      margin-top: 62px
      margin-bottom: 37px
    &__title
      max-width: 440px
      font-family: HKGrotesk-Bold
      font-style: normal
      font-weight: bold
      font-size: 56px
      line-height: 68px
      letter-spacing: 0.2px
      color: #183B56
      margin-bottom: 28px
      &--thanks
        max-width: 800px
    &__subtitle
      max-width: 652px
      font-style: normal
      font-weight: normal
      font-size: 20px
      line-height: 36px
      color: #5A7184
      margin-bottom: 67px
    &__button
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 25px
      text-align: center
      color: #FFFFFF
      background: #183B56
      border-radius: 8px
      max-width: 259px
      padding: 15px 40px
    &__button
      +hover
        background-color: $mainColor
    &__list
      display: flex
      flex-direction: row
      margin: 0
      padding: 0
      margin-top: 64px
      flex-wrap: wrap
    &__item
      display: flex
      align-items: center
      list-style: none
      font-family: HKGrotesk-Bold
      font-style: normal
      font-weight: 500
      font-size: 16px
      line-height: 20px
      letter-spacing: 0.2px
      margin-right: 31px
      color: #183B56
    &__icon
      margin-right: 8px
  &_right
    max-width: 100%
    display: flex
    justify-content: flex-end
