.feedback
  &-container
    max-width: 800px
    margin: auto
    margin-bottom: 54px
  &-wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  &-icon
    margin-bottom: 34px
    width: 80px

.swiper
  &-container
    width: 810px
    height: 300px
  &-slide
    &__text
      font-family: HKGrotesk-Medium
      font-style: normal
      font-weight: normal
      font-size: 20px
      line-height: 42px
      text-align: center
      letter-spacing: 0.133333px
      color: #183B56
      margin: 0
      margin-bottom: 29px
      max-height: 168px
      overflow-y: auto
    &__author
      font-family: HKGrotesk-Medium
      font-style: normal
      font-weight: bold
      font-size: 20px
      line-height: 24px
      text-align: center
      letter-spacing: 0.2px
      color: #183B56
      margin: 0
