.header
  &-wrapper
    width: 90%
    padding: 36px 0
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
  &-container
    display: flex
    justify-content: center

.navbar
  &-group
    display: flex
    align-items: center
  &-list
    margin: 0
    padding: 0
    display: flex
    flex-direction: row
  &-item
    margin-right: 40px
    list-style: none
    &__contact
      margin-right: 50px
  &-link
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px
    text-align: center
    color: #183B56

.signin
  &-link
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 22px
    text-align: center
    color: #1565D8
    border: 2px solid #1565D8
    filter: drop-shadow(0px 10px 25px rgba(21, 37, 72, 0.1))
    border-radius: 8px
    padding: 13px 24px

.link
  text-decoration: none
