.stories
  margin-bottom: 145px
  &__wrapper
    display: flex
    flex-direction: row
    margin-top: -63px
    max-width: 100%
  &-left
    min-width: 392px
    margin-right: 96px
    &__badges
      margin-bottom: 23px
      background: rgba(54, 179, 126, 0.1)
      border-radius: 2000px
      padding: 6px 16px
      width: 102px
    &__badge
      text-transform: uppercase
      font-style: normal
      font-weight: 600
      font-size: 14px
      line-height: 20px
      text-align: center
      text-transform: uppercase
      color: #36B37E
    &__title
      font-family: HKGrotesk-Bold
      font-style: normal
      font-weight: bold
      font-size: 48px
      line-height: 60px
      letter-spacing: 0.2px
      color: #183B56
      margin-bottom: 24px
    &__text
      max-width: 400px
      max-height: 180px
      margin-bottom: 50px
      overflow-y: auto
      font-size: 20px
      line-height: 36px
      color: $secondary
    &__nav
      width: 56px
      height: 56px
      border-radius: 50%
      border: 1px solid $black
      display: inline-flex
      align-items: center
      justify-content: center
      cursor: pointer
      outline: none
      +trs(border)
      svg
        width: 14px
        height: 14px
        fill: $black
        +trs(fill)
      +hover
        border: 1px solid $accent
        svg
          fill: $accent
      &--prev
        margin-right: 22px
      &--next
      &-list
        display: flex
        align-items: center
  &-right
    max-width: 662px


.swiper
  &-slide
    display: flex
    flex-direction: row
    &-1
      margin-right: 18px
    &__item
      width: 322px
      height: 475px
      position: relative
    &__image
      position: absolute
      width: 312px
      min-height: 317px
      top: 0
      left: 0
      margin-top: 6px
      border-radius: 8px
      overflow: hidden
    &__bottom
      position: absolute
      z-index: 888
      background: #FAFDFF
      width: 312px
      padding-top: 20px
      padding-left: 20px
      padding-bottom: 20px
      padding-right: 20px
      top: 303px
      right: 0
      height: 178px
    &__title
      margin: 0
      font-family: HKGrotesk-Medium
      font-style: normal
      font-weight: 500
      font-size: 22px
      line-height: 32px
      letter-spacing: 0.2px
      color: #183B56
      width: 100%
      margin-bottom: 20px
    &__link
      font-style: normal
      font-weight: 600
      font-size: 16px
      line-height: 22px
      color: #1565D8
