.subscribe
  background-color: #1565D8
  &-wrapper
    padding: 100px 0
    display: flex
    flex-direction: row
    align-items: center
  &__text
    max-width: 436px
    margin-right: 17%
  &__title
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 60px
    color: #FFFFFF
    margin-bottom: 14px
  &__subtitle
    font-size: 18px
    line-height: 32px
    color: #FFFFFF
    max-width: 436px
  &__form
    position: relative
    display: flex
    flex-direction: row
    max-width: 447px
  &__input-group
    width: 100%
  &__input
    height: 56px
    width: 100%
    background: #FFFFFF
    border: 1px solid #C3CAD9
    box-sizing: border-box
    border-radius: 8px
    padding: 17px 20px
    outline: none
    padding-right: 200px
    padding-left: 45px
  &__icon
    position: absolute
    top: 22px
    left: 20px
  &__button
    position: absolute
    font-weight: bold
    font-size: 18px
    line-height: 25px
    text-align: center
    color: #FFFFFF
    background: #183B56
    border-radius: 4px
    padding: 11px 27px
    top: 4.5px
    right: 4.5px
    height: 47px
    display: flex
    flex-direction: row
    align-items: center
    outline: none
    cursor: pointer
  &__button
    +hover
      background: linear-gradient(#1613DB, #9A13DB)