.trends
  &-wrapper
    margin-bottom: 157px
    max-width: 100%
    display: flex
    flex-direction: column
  &_top
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin-bottom: 48px
    &__title
      font-size: 48px
      line-height: 60px
  &__list
    display: flex
    flex-direction: row
    max-width: 285px
  &__item
    margin-right: 38px
    font-style: normal
    font-weight: normal
    font-size: 18px
    line-height: 25px
  &-grid
    max-width: 100%
    display: grid
    grid-template: repeat(2, 441px) / repeat(4, 1fr)
    grid-row-gap: 50px
    grid-column-gap: 30px
  &_card
    max-width: 260px
    overflow: hidden
    &__image
      margin-bottom: 20px
    &__image:hover
      opacity: 0.4
    &__title
      font-family: HKGrotesk-Bold
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 32px
      letter-spacing: 0.2px
      margin-bottom: 3px
      margin-left: 14px
      margin-top: -2px
    &__title:hover
      color: $mainColor
    &__price
      font-style: normal
      font-weight: normal
      font-size: 20px
      line-height: 36px
      color: #5A7184
      margin-left: 17px
    &__bottom
      display: flex
      flex-direction: row
      justify-content: space-between
      align-items: center
    &__icon:hover
      background: linear-gradient(#1613DB, #9A13DB)
      border-radius: 4px
      padding: 3px
    &__look
      height: 100%

.look-more
  background-color: #1565D8
  border-radius: 8px
  height: 350px
  padding-top: 126px
  display: flex
  flex-direction: column
  align-items: center
  &__title
    font-family: HKGrotesk-Bold
    font-style: normal
    font-weight: bold
    font-size: 24px
    line-height: 32px
    text-align: center
    letter-spacing: 0.2px
    color: #FFFFFF
    width: 225px
  &__icon
    margin-bottom: 25px
.look-more:hover
  background: linear-gradient(#1613DB, #9A13DB)
